#Learning:hover #learning-content{
  display: flex; 
} 

#Learning:hover {
  background-color: rgb(179, 179, 250);
  color: black;
}

.nav > a:hover{
  background-color: rgb(179, 179, 250);
  color: black;
}

.news *:hover{
  opacity: 1.0;
  flex: 2;
}
